/* header */

.header {
  background-color: #ffffff;
  height: 88px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #b8ffec;
}

.header__inner {
  display: flex;
}


@media (min-width: 320px) {
  .header {
    padding: 0 16px;
  }
}


@media (min-width: 768px) {
  .header {
    padding: 0 24px;
  }

  .header__logo {
    padding-left: 25px;
  }
}


@media (min-width: 1120px) {
  .header {
    display: none;
  }
}