/* main */

.main {
  background-color: var(--basic-two);
  /* display: flex; */
}

/* main-h1 */
.main__title {
  margin-top: 24px;
  padding-left: 12px;
  font-family: TT Lakes;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.main__title::before {
  position: absolute;
  content: "";
  width: 4px;
  left: 0px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background: #41F6D7;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.main__links {
  display: none;
}

.main__radio-group {
  display: flex;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow-x: scroll;
  margin: 29px 0 15px 14px;
}

.main__radio-label {
  display: flex;
  height: 40px;
}

.main__radio-label>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.main__radio-label>span {
  user-select: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  padding: 6px 15px 8px 16px;
  cursor: pointer;  
}

.main__radio-label input:checked + span {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

/* .main__image {
  text-align: center;
} */


@media (min-width: 768px) {
  .main__title {
    padding-left: 24px;
  }

  .main__radio-group {
    margin-left: 12px;
    padding-left: 12px;
  }

  /* .main__image {
    display: none;
  } */
}


@media (min-width: 1120px) {
  .main__header {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 1090px;
  }

  .main__title {
    display: block;
    margin-top: 41px;
  }

  .main__links {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 260px;
    margin-top: 41px;
  }

  .link-settings {
    background: url("../../img/repair.svg") #FF3E79 no-repeat 50% 50%;
  }
  
  .link-checkstatus {
    background: url("../../img/checkstatus.svg") #FF3E79 no-repeat 50% 50%;
  }

  .main__radio-group {
    width: auto;
    max-width: 1070px;
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .hidden__input {
    display: none;
  }
}

