
/* Page */

.page {
  line-height: 1.5;
  font-family: "TT Lakes";
}

.page__body {
  position: relative;
  max-width:1120px;
  margin: 0 auto;
  background-color:  var(--basic-two);
  min-width: 320px;
  overflow-x: hidden;
}

