/* section */

.section {
  margin: 15px 0px 16px 2px;
  padding: 0 16px;
}

.section__text {
  left: 5%;
  right: 5%;
  top: calc(50% - 90px/2 - 13.5px);
  font-family: TT Lakes;
  font-weight: regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

#more {
  display: none;
}

.section__btn {
  background: url("../../img/icon.svg") left center no-repeat;
  width: 132px;
  height: 24px;
  margin-top: 14px;
  margin-left: 8px;
  padding-left: 16px;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #1B1C21;
  transition: 0.3s;
  cursor: pointer;
}

.hidden {
  display: none;
}


@media (min-width: 768px) {

  .hidden {
    display: block;
  }

  .section {
    width: 720px;
    height: 300px;
    padding: 0 24px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 48px;
  }

  .section__text {
    align-self: start;
    width: 312px;
    max-height: 250px;
  }

  .section__btn {
    align-self: stretch;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  .section__image {
    align-self: start;
    width: 360px;
    height: inherit;
  }
}


@media (min-width: 1120px) {
  .section {
    width: 1063px;
    height: 307px;
    padding: 0 24px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 36px;
  }

  .section__text {
    align-self: start;
    width: 490px;
    max-height: 270px;
  }

  .section__btn {
    align-self: stretch;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  .section__image {
    align-self: start;
    width: 531.35px;
  }
}