/* section */

.section {
  margin: 15px 0px 16px 2px;
  padding: 0 16px;
}

.section__text {
  position: relative;
  max-height: 384px;
  overflow: hidden;
  font-family: TT Lakes;
  font-weight: regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.section__text-first {
  margin-bottom: 10px;
}

.section__read-more:checked ~ .section__text {
  max-height: 400px;
}

.section__read-more:checked ~ .section__text .section__bottom {
  opacity: 0;
  transition: 0.3s;
}


.section__text .section__bottom {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba (255,255,255,0), rgba (255,255,255,1) 80%);
  width: 100%;
  height: 30px;
  opacity: 1;
  transition: 0.3s;
}

.section__read-more {
  opacity: 0;
  position: absolute;
}

.section__btn-read-more {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  width: 142px;
  height: 24px;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #1B1C21;
  transition: 0.3s;
}

.section__read-more ~ .section__btn-read-more::before {
  content: 'Читать далее';
  background: url("../../img/icon.svg") left center no-repeat;
  padding-left: 20px;
}

.section__read-more:checked ~ .section__btn-read-more::before {
  content: 'Скрыть';
  background: url("../../img/icon_rotate-180deg.svg") left center no-repeat;
}

.hidden-image {
  display: none;
}


@media (min-width: 650px) and (max-width: 899px) {
  
  .section {
    width: 720px;
    height: 300px;
    padding: 0 24px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 48px;
  }

  .section__text {
    align-self: start;
    width: 312px;
    min-height: 176px;
    max-height: 308px;
  }

  .section__text-first {
    margin-bottom: 15px;
  }

  .section__btn {
    align-self: stretch;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  .section__image {
    display: block;
    align-self: start;
    max-width: 360px;
  }

  .section__image img {
    width: 100%;
  }
}


@media (min-width: 900px) {
  .section {
    width: 1063px;
    height: 307px;
    padding: 0 24px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 36px;
  }

  .section__text {
    align-self: start;
    width: 490px;
    max-height: 270px;
  }

  .section__text-first {
    margin-bottom: 15px;
  }

  .section__btn {
    align-self: stretch;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  .section__image {
    display: block;
    width: 531.35px;
  }
}