/* section */

.section {
  margin: 15px 0px 16px 2px;
  padding: 0 16px;
}

.section__text {
  height: 90px;
  left: 5%;
  right: 5%;
  top: calc(50% - 90px/2 - 13.5px);
  font-family: TT Lakes;
  font-weight: regular;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.section__btn {
  /* position: relative; */
  background: url("../../img/icon.svg") left center no-repeat;
  width: 132px;
  height: 24px;
  margin-top: 16px;
  margin-left: 8px;
  /* position: absolute; */
  /* height: 24px; */
  /* left: 15.62%;
  right: 53.12%; */
  /* top: calc(50% - 24px/2 + 55.5px); */
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.2px;
  color: #1B1C21;
}
